$header-height: 54px;
$theme: #409eff;
$font-color: #333333;
$font-color-grey: #666666;
$font-size: 14px;
$font-size-small: 12px;

@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-flow: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($color, $font-size) {
  color: $color;
  font-size: $font-size;
}
